/* .swiper-slide { width: auto!important; } */
.swiper-button-prev, .swiper-button-next {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    color: unset!important;
}
.amazing-slider .swiper .swiper-wrapper .swiper-slide{
    width: auto;
}